body {background: rgb(244, 241, 241); }




/*#navbar-nav-d-flex-flex-row-me-1 li.nav-item-nav-link-px-3
{
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    margin-left: 0px!important; 
    margin-right: 0px!important;
    margin-left: 0px!important;
    margin-top: 0px!important;
}*/

